@model Contacts

@{
    ViewData["Title"] = "Detay";
    Layout = "~/Areas/Admin/Views/Shared/_MainAdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

                    @if (Model != null)
                    {
                        <div class="form-group">

                            <div class="form-group">
                                <label>İsim</label>
                                <input type="text" class="form-control form-control-user" placeholder="İsim gir..." asp-for="FullName" readonly>
                            </div>

                            <div class="form-group">
                                <label>E-Posta</label>
                                <input type="text" class="form-control form-control-user" placeholder="Açıklama gir..." asp-for="Email" readonly>
                            </div>

                            <div class="form-group">
                                <label>Başlık</label>
                                <input type="text" class="form-control form-control-user" placeholder="Başlık gir..." asp-for="Subject" readonly>
                            </div>

                            <div class="form-group">
                                <label>Mesaj</label>
                                <textarea class="form-control form-control-user" asp-for="Message" style="height:350px;" readonly></textarea>
                            </div>

                            <div class="form-group container-fluid">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="@Url.Action("Index", "Contact")" class="btn btn-primary btn-user btn-block">Geri Dön</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>