<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Index","Blog")">
        <i class="fas fa-fw fa-shopping-bag"></i>
        <span>Blog</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Index", "About")">
        <i class="fas fa-fw fa-address-card"></i>
        <span>Hakkımızda</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Index", "Contact")">
        <i class="fas fa-fw fa-envelope"></i>
        <span>Mesajlar</span>
    </a>
</li>