<!-- AkmKahramanMakina.UI.Common.CurrentUser currentUser

<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">@@currentUser.Email.Substring(0, (currentUser.Email.IndexOf('@@')))</span>
        <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
    </a>-->
<!-- Dropdown - User Information -->
<!--<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <form action="@@Url.Action("LogOut", "Authentication")" method="post">
            <button type="submit" class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Çıkış
            </button>
        </form>
    </div>
</li>-->
